@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@font-face {
    font-family: "Poppins";
    src: url("../vendor/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../vendor/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    font-family: "Poppins" !important;
}

h1,
h2,
body {
  font-family: "SUSE Mono", monospace;
  font-optical-sizing: auto;  
  font-weight: 400;            
  font-style: normal;          
}
h3{
    font-family:"Roboto" !important;
}
h4 {
    font-family: "Poppins" !important;
    font-weight: bolder;
}

h5,
h6,
p {
    font-family: "Bai Jamjuree";
}

li {
    font-family: "Bai Jamjuree";
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: center;
}

tr:first-child {
    background-color: #eee;
}

.column {
    padding-bottom: 20%;
}

.table {
    padding-top: 2%;
}

.judul {
    background-color: #164863;
}


/* PRIMARY */

.primary-500 {
    color: #164863 !important;
}

.primary-500-bg {
    background-color: #c8a3cc3d !important;
}


/* SECONDARY */

.secondary-500 {
    color: #DDF2FD !important;
}

.secondary-500-bg {
    background-color: #DDF2FD !important;
}


/* TERTIARY */

.tertiary-500 {
    color: #427D9D !important;
}

.tertiary-500-bg {
    background-color: #427D9D !important;
}


/* FORTIARY */

.fortiary-500 {
    color: #427D9D !important;
}

.fortiary-500-bg {
    background-color: #427D9D !important;
}


.two-by-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teks {
    padding: 10px;
}

.jumbotron {
    background-attachment: fixed;
  }
.gap {
  padding: 200px;
}


.timeline {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}


.timeline-item {
  width: 100%;
  display: flex;
}


.timeline-item.left {
  justify-content: flex-start;
  padding: 0 0 0 200px;
}

.timeline-item.telu{
    justify-content: flex-start;
    padding: 0 0 0 250px;
}

.timeline-item.right {
  justify-content: flex-end;
  padding: 0 200px 0 0;
}


.timeline-item .secondary-500-bg {
  width: 40%; 
  border-radius: 12px;
}

.d-flex{
    gap:300px
}

.education{
    padding: 200px 0 300px 0;
}

.selfintro{
    padding: 200px 0 200px 0;
}

.bottom{
    padding: 200px 0 200px 0;
}

.bottom2{
    padding: 200px 0px 0px 0;
}

.man{
    padding: 0px 0px 20px 0;
}